*{
    margin: 0;
    padding: 0;
}


/* shared-style */
.section-heading {
    font-size: 48px;
    font-weight: bold;
    color: #0E0E0E;
}
#pillars , #vision {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
}

#pillars .pillars-container , .vision-container {
    margin-top: 80px;
}

#pillars .pillars-container .pillars-box , #vision .vision-container  .vision-box  {

   margin-top: 32px;
   display: flex;
   justify-content: space-around; 
   gap: 24px;

}
#pillars .pillars-container .pillars-box .pillars-card img, #vision .vision-container  .vision-box img{
    max-width: 64px;
    margin-bottom: 24px;
}

/* main-style */
#header .header-nav{

    width: 80%;
    max-width: 1280px ;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}
#header .header-nav h2{

    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E ;
    margin: 31px 0;
}
#header .header-nav button  {

    color: #006A50;
    width: 116px;
    margin: 24px 0;
    border: 1px solid #006A50 ;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    background-color: transparent;
}
#header .header-banner {

    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 20px;
    
}

#header .header-banner .banner-container{
    display: flex;
    justify-content: center;
    gap: 64px;
    align-items: center;
    background-color: #C6E4D6 ;
    border: none;
    border-radius: 24px;
    padding:  80px 59px;

}

#header .header-banner .banner-container .banner-content{
    width: 622px ;
    margin: 37px 0;
    
}
#header .header-banner .banner-container .banner-content p{
   
    font-size: 24px;
    color: #0E0E0E ;
    font-weight:500 ;
    opacity: 50%;

} 
#header .header-banner .banner-container .banner-content h2{
   
    font-size: 56px;
    color: #0E0E0E ;
    font-weight:bold ;
    margin-top: 16px;
    width: 622px;
    
}

#header .header-banner .banner-container .banner-content button , .btn{

   
    background-color: #006A50;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 17px 34px ;
    margin-top: 24px;
}

#header .header-banner .banner-container .banner-content .banner-img{

    width: 474.03px;
    margin-right: 59.99px;
}


#pillars .pillars-container .pillars-box .pillars-card {

    border: 16px;
    padding: 24px;
    max-width: 302px;
    border-radius: 16px;
    border: 1px solid #0E0E0E26;
    box-shadow: 0px 4px 4px 0 #0E0E0E40 ;
}

#pillars .pillars-container .pillars-box .pillars-card h4 , #vision .vision-container  .vision-box h4, #vision .vision-about .vision-about-yunus h4{

    font-size: 20px;
    font-weight: bold;
    color: #0E0E0ECC;
    margin-bottom: 12px;

}
#pillars .pillars-container .pillars-box .pillars-card p , #vision .vision-container  .vision-box p ,#vision .vision-about .vision-about-yunus p{
    font-size: 16px;
    font-weight: normal;
    color: #0E0E0EB3;
    line-height: 24px;

}
#vision .vision-container .section-heading p{

    margin-top: 24px;
    font-size: 16px;
    line-height: 24px;
    color: #0E0E0EB3;
}
 
#vision .vision-container  .vision-box .vision-card-1 {
    border: 1px;
    background-color: #5490F533;
    border: 16px;
    padding: 32px;
    max-width: 410.67px;
    border-radius: 16px;
    border: 1px solid #0E0E0E26;
    box-shadow: 0px 4px 4px 0 #0E0E0E40;
}
#vision .vision-container  .vision-box .vision-card-2 {
    border: 1px;
    background-color: #C6E4D6;
    border: 16px;
    padding: 32px;
    max-width: 410.67px;
    border-radius: 16px;
    border: 1px solid #0E0E0E26;
    box-shadow: 0px 4px 4px 0 #0E0E0E40;
}
#vision .vision-container  .vision-box .vision-card-3 {
    border: 1px;
    background-color: #F7EBCF;
    border: 16px;
    padding: 32px;
    max-width: 410.67px;
    border-radius: 16px;
    border: 1px solid #0E0E0E26;
    box-shadow: 0px 4px 4px 0 #0E0E0E40;
}
#vision .vision-container  .vision-box .vision-card-1 button{

    margin-top: 24px ;
    border-radius: 8px;
    border: none;
    background-color: #5490F5;
    box-shadow: 0px 4px 4px 0 #00000040;
    font-size: 16px;
    color: white;
    font-weight: 600;
    padding: 11px 20px ;

}
#vision .vision-container  .vision-box .vision-card-2 button{

    margin-top: 24px ;
    border-radius: 8px;
    border: none;
    background-color: #09A15C;
    box-shadow: 0px 4px 4px 0 #00000040;
    font-size: 16px;
    color: white;
    font-weight: 600;
    padding: 11px 20px ;

}
#vision .vision-container  .vision-box .vision-card-3 button{

    margin-top: 24px ;
    border-radius: 8px;
    border: none;
    background-color: #FFC239;
    box-shadow: 0px 4px 4px 0 #00000040;
    font-size: 16px;
    color: white;
    font-weight: 600;
    padding: 11px 20px ;

}

#vision .vision-about {
    margin-top: 32px;
    
}
#vision .vision-about .vision-about-yunus ,#opinion .opinion-container ,#recent-news .news-container {
    border: 1px;
    background-color: #ffffff;
    border: 16px;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid #0E0E0E26;
    box-shadow: 0px 4px 4px 0 #0E0E0E40;
}

#vision .vision-about .vision-about-yunus .yunus-content {

    padding: 48px 24px;
    background-image: url('../assets/quote-bg.png');
    background-repeat: no-repeat;
    background-position: 24px 25px; 
}
#opinion , #recent-news{
    margin: 0 auto;
    width: 80%;
    max-width: 1280px;
    padding-top: 80px;
}
#opinion .opinion-container {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}
#opinion .op-h2 {
    margin-bottom: 24px;
}
#opinion .opinion-container  .table-opinion{

    margin: 32px;
    width: 100%;
    border-collapse: collapse;
}

#opinion .opinion-container  .table-opinion th ,td {

    border: 1px solid rgb(175, 175, 175);
    gap: -1;
    
    
}
#opinion .opinion-container  .table-opinion th {

    background-color:#C6E4D6 ;
    color: #0E0E0E;
    padding: 24px;
    border: none;
    font-weight: 600;
    font-size: 20px;
}
#opinion .opinion-container  .table-opinion tr td{

    color: #0E0E0E;
    padding: 24px;
    font-weight: 600;
    font-size: 16px;
}
#opinion .opinion-container  .table-opinion tr select {

    border-radius: 4px;
    background-color:#C6E4D6 ;

    width:154px;
    height: 44px;
    padding: 12px 40px 12px 16px; 

}
#opinion .opinion-container  .table-opinion tr select option
{
    font-weight: 400;
    color: #0E0E0E;
}

#recent-news .news-container{
    
    display: flex;
    justify-content: space-between;
    gap: 32px;
    align-items: center;
    margin-top:32px ;
    padding: 48px;
}
#recent-news .news-card2{

    flex-direction: row-reverse;
}
#recent-news .news-container img {

    border-radius: 24px;
}
#recent-news .news-container .details h4{
    font-size: 32px;
    font-weight: bold;
    color: #0e0e0ed3;
    margin-bottom: 12px;
}
#recent-news .news-container .details p{
    margin-top: 12px;
    line-height: 24px;
    color: #0e0e0ea9;

}